<div class="container-fluid">
    <div class="content">
              <br>
              <div class="row">
                <div class="col-md-6 m-auto">
                  <div class="card custom-shadow card-body">
                    <div class="container-fluid">
          <br>
          <div style="text-align:center">
              <a href="/">
                  <img src="https://szab.uni-eszterhazy.hu/public/img/eke_logo_smaller.png" alt="Logo" class="img-fluid">
              </a>
              <h6 class="mt-2">Welcome to the stage of the arts</h6>
          </div>
          <br>
          
          <a (click)="notAvailable()" class="btn btn-secondary btn-block mb-2">Registration</a>
          <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  or Sign in</h1>
          <img class="glogin" src="https://icon-library.com/images/google-login-icon/google-login-icon-24.jpg" alt="Logo" class="img-fluid glogin" />
          <button (click)="googleLogin()" class="btn btn-primary btn-block mb-2">Whit Google account</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-muted text-align-center mt-5">
              
              <p>&copy; 2023 Somossy László | Hosting, modulzáró vizsga</p>
              
            </div>